 {% extends 'base.html.twig' %}

{% block title %}Leçon - {{ cours.titre }}{% endblock %}

{% block body %}
<div class="container my-4">

  <div class="d-flex justify-content-between align-items-start gap-3">
    <div>
      <h1 class="mb-2">{{ cours.titre }}</h1>
      <p class="text-muted mb-0">  {{ cours.nombreLecons  }} leçons • Formateur : {{ cours.formateur }}</p>
    </div>
    <div class="text-end">
      <div class="fw-bold fs-4">{{ cours.prix }}</div>
      <span class="badge bg-warning text-dark">Cours premium</span>
    </div>
  </div>

  <hr class="my-4">

  <p class="lead">{{ cours.description }}</p>

  

  <h3>Ce que vous allez apprendre</h3>
  <ul>
    <li>Comprendre les concepts clés</li>
    <li>Appliquer avec des exemples concrets</li>
    <li>Se préparer à la suite du parcours</li>
  </ul>

  <h3 class="mt-4">Plan du cours</h3>
  <ol>
    <li>Introduction</li>
    <li>Notions essentielles</li>
    <li>Démonstration / cas pratique</li>
    <li>Quiz + résumé</li>
  </ol>

  <div class="mt-4">
    <a href="{{ path('cours') }}" class="btn btn-outline-secondary">← Retour à tous les cours</a>
  </div>

</div>
{% endblock %}
